{% extends "base.html" %}

{% block page_title %}
	Progreso por componentes
{% endblock  %}

{% block content %}
<div class="row">
	<div class="col s6">
		<h4>Progreso por componentes</h4>
	</div>
	<div class="col s6 push-s4" style="top:15px">
		<a class="btn waves-effect waves-light" onclick="exportTo('xls');" href="javascript://">Exportar</a>
	</div>
	<hr>
</div>
<div class="row ">
	<div class="col m12">
		<table  class="table centered striped">
        <thead>
          <tr>
              <th data-field="id">Componente</th>
              <th data-field="name">Controles</th>
              <th data-field="price">{{beforeyesterdaydate|date:"l d F Y"}}</th>
              <th data-field="price">{{yesterdaydate|date:"l d F Y"}}</th>
              <th data-field="price">{{todaydate|date:"l d F Y"}}</th>
          </tr>
        </thead>
        <tbody>
        {% for c in componentdata %}
			<tr>
				<td>{{c.name}}</td>
				<td>{{c.taskquantity}}</td>
				<td>
					<div id="{{c.id}}beforeyesterday" class="componentprogress">
					    <div id="componentbar{{c.id}}beforeyesterday" class="componentbar"></div>
					    <label id="status{{c.id}}beforeyesterday" class="progressstatus">{{c.beforeyesterdayvalue}}%</label>
					</div>
				</td>
				<td>
					<div id="{{c.id}}yesterday" class="componentprogress">
					    <div id="componentbar{{c.id}}yesterday" class="componentbar"></div>
					    <label id="status{{c.id}}yesterday" class="progressstatus">{{c.yesterdayvalue}}%</label>
					</div>
				</td>
				<td>
					<div id="{{c.id}}today" class="componentprogress">
					    <div id="componentbar{{c.id}}today" class="componentbar"></div>
					    <label id="status{{c.id}}today" class="progressstatus">{{c.todayvalue}}%</label>
					</div>
				</td>
			</tr>
		{% endfor %}
        </tbody>
      </table>
	</div>
</div>	
{% endblock %} 
{% block js %}
<script>
function exportTo(type) {
  $('.table').tableExport({
    filename: 'table_%DD%-%MM%-%YY%',
    cols: '1,2,3,4,5',
    format: type,
    head_delimiter: ' ',
  });
}
</script>
{% endblock  %}
